.container{
    width: 100%;
    margin: auto;
}

.imgShop {
    width: 400px;
    height: 400px;
    min-width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
}

.imgShopDescripcion{
    width: 100px;
    height: 100px;
}

.columns{
    place-self: center;
    width: 100%;
    
}

.btnVerMas{
    text-decoration: none;
    background-color: transparent;
    color: rgb(68, 68, 68);
    font-size: 10px;
}

.containerInstagram{
    margin: 50px 50px;
    text-align-last: center;
    color: rgb(131, 131, 131);
}

h1{
   color: rgb(36, 36, 36);
}

.imgInstagram{
    width: 150px;
    height: 150px;
    margin: 1px;
}

.containerIns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.columnsInstagram{
    @extend .columns
}
.shopImgsInst{
    display: grid;
    place-items: center;
}

#pufiRain {
    width: 100%;
}
#pufiPuff{
    width: 100%;
}

#pufiCart{
    width: 100%;
}

#pufiNap{
    width: 100%;
}

#pufiRainContainer{
    display: block;
}

#pufiPuffContainer{
    display: block;
}

#pufiCartContainer{
    display: block;
}

#pufiNapContainer{
    display: block;
}

